
.loader-overlay {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.loader-text{
    color: white;
    margin-top: 10px;
}

.loader-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #FD3C20;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.selected {
    box-shadow: 2px 2px 10px rgb(253,60,32) inset, -2px -2px 10px white inset;
}

.selected:hover {
    box-shadow: 2px 2px 10px rgb(253,60,32) inset, -2px -2px 10px white inset;
}

.race-button-container {
    width: 150px;
    float: left;
}

.race-data-container {
    width: 595px;
    height: 380px;
    float: right;
    border: 1px solid #CCC;
    overflow-y: auto;
}

.race-data {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 5px;
}

.race-title {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    padding: 5px;
}

.race-label {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    margin-left: 10px;
    color: #444;
    grid-column: 1/2;
    text-align-last: right;
}

.race-value {
    grid-column: 2/3;
    padding: 0 5px 0 5px;
    align-self: center;
    color: #595959;
}

.race-subraces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ability-toggle {
    margin-bottom: 5px;
}

.abilities-button-container {
    width: 150px;
    float: left;
}

.abilities-data {
    width: 595px;
    height: 380px;
    float: right;
    border: 1px solid #CCC;
    overflow-y: auto;
}

.abilities-data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #CCC;
}

.abilities-ability {
    flex: 0 0 16.66%;
    height: 79px;
    padding: 4px;
    border-right: 1px solid #CCC;
}

.ability-title {
    position: relative;
    height: 22px;
    margin: 0 0 2px;
    line-height: 22px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    color: #444;
    text-align: center;
    border-bottom: 1px solid #CCC;
}

.ability-value {
    height: 32px;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    color: #444;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.ability-footer {
    height: 16px;
    text-align: center;
    color: gray;
}

.abilities-point-buy {
    height: 35px;
    padding: 10px;
    border-bottom: 1px solid #CCC;
    text-align: right;
}

.abilities-point {
    flex: 0 0 16.66%;
    height: 60px;
    padding: 4px;
    border-right: 1px solid #CCC;
}

.ability-point-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ability-point-button {
    flex: 1;
    line-height: 15px;
}

.ability-ondrag {
    border: 1px solid #FD3C20;
}

.ability-ondragover {
    border: 1px dashed #FD3C20;
}

.abilities-ability input[type="text"] {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: none;
    padding: 0;
    margin: 1px 0;
    color: #444;
    border: 1px solid transparent;
}

.background-container {
    width: 100%;
    height: 380px;
    border: 1px solid #CCC;
    overflow-y: auto;
}

.alignment-title {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    padding: 5px;
}

.alignment-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
    padding: 10px;
}

.alignment-data {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.alignment-description {
    padding: 0 10px;
}

.class-button-container {
    width: 150px;
    float: left;
}

.class-toggle {
    line-height: 20px;
    margin-bottom: 5px;
}

.class-toggle[disabled] {
    color: #bab9ae !important;
}

.class-data-container {
    width: 595px;
    height: 380px;
    float: right;
    border: 1px solid #CCC;
    overflow-y: auto;
}

.class-data-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.class-data {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 5px;
}

.class-title {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    padding: 5px;
}

.class-label {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    margin-left: 10px;
    color: #444;
    grid-column: 1/2;
    text-align: right;
}

.class-value {
    grid-column: 2/3;
    padding: 0 5px 0 5px;
    align-self: center;
    color: #595959;
}

td.even {
    text-align: center;
    background-color: #f3f3f3;
}

td.odd {
    text-align: center;
}
