<div class="abilities-data-container">
    {{#each abilities}}
    <div class="abilities-ability">
        <h4 class="ability-title">{{name}}</h4>
        <div class="ability-value flexrow">
            <span id="{{name}}-ability-base-value" draggable="true" style="cursor: move" ></span>
        </div>
        <footer class="ability-footer">
            <span>Base Value</span>
        </footer>
    </div>
    {{/each}}
</div>
<div class="abilities-point-buy" style="height: 55px; text-align: center">
    <button id="ability-roll-button" style="width: 200px;">Roll for abilities</button>
</div>
<div class="abilities-data-container" style="height: 65px;">
    {{#each abilities}}
    <div class="abilities-point">
        <div class="ability-value flexrow">
            <span id="{{name}}-race-ability-bonus"></span>
        </div>
        <footer class="ability-footer">
            <span>From Race</span>
        </footer>
    </div>
    {{/each}}
</div>
<div class="abilities-data-container">
    {{#each abilities}}
    <div class="abilities-point" style="height: 100px;">
        <div class="ability-value flexrow" style="font-size: 25px; line-height: 40px;">
            <span id="{{name}}-total-ability-points"></span>
        </div>
        <div class="ability-value flexrow" style="height: 30px; font-size: 14px">
            <span id="{{name}}-total-ability-mod"></span>
        </div>
        <footer class="ability-footer" style="color: black">
            <span>Total</span>
        </footer>
    </div>
    {{/each}}
</div>
