<div class="abilities-data-container">
    {{#each abilities}}
    <div class="abilities-ability">
        <h4 class="ability-title">{{name}}</h4>
        <div class="ability-value flexrow">
            <span id="{{name}}-ability-base-value"></span>
        </div>
        <footer class="ability-footer">
            <span>Base Value</span>
        </footer>
    </div>
    {{/each}}
</div>
<div class="abilities-point-buy">
    Remaining Points: <span id="ability-total-points"></span>
</div>
<div class="abilities-data-container">
    {{#each abilities}}
    <div class="abilities-point" style="height: 85px">
        <div class="ability-value flexrow">
            <span id="{{name}}-ability-points"></span>
        </div>
        <footer class="ability-footer" style="margin-bottom: 10px">
            <span>Bought</span>
        </footer>
        <footer class="ability-point-footer">
            <button id="{{name}}-ability-point-sub" class="ability-point-button">-</button>
            <button id="{{name}}-ability-point-add" class="ability-point-button">+</button>
        </footer>
    </div>
    {{/each}}
</div>
<div class="abilities-data-container">
    {{#each abilities}}
    <div class="abilities-point">
        <div class="ability-value flexrow">
            <span id="{{name}}-race-ability-bonus"></span>
        </div>
        <footer class="ability-footer">
            <span>From Race</span>
        </footer>
    </div>
    {{/each}}
</div>
<div class="abilities-data-container">
    {{#each abilities}}
    <div class="abilities-point" style="height: 100px;">
        <div class="ability-value flexrow" style="font-size: 25px; line-height: 40px;">
            <span id="{{name}}-total-ability-points"></span>
        </div>
        <div class="ability-value flexrow" style="height: 30px; font-size: 14px">
            <span id="{{name}}-total-ability-mod">(+1)</span>
        </div>
        <footer class="ability-footer" style="color: black">
            <span>Total</span>
        </footer>
    </div>
    {{/each}}
</div>
