<div class="abilities-button-container">
    <button class="ability-toggle" data-ability="point">Point Buy</button>
    <button class="ability-toggle" data-ability="dice">Dice Roll</button>
    <button class="ability-toggle" data-ability="standard">Standard Score</button>
    <button class="ability-toggle" data-ability="manual">Manual Entry</button>
</div>
<div id="abilities-data" class="abilities-data"></div>
