<div id="wizard">
    <div class="step-app">
        <ul class="step-steps">
            <li><a href="#step1"><i class="ra ra-player"></i>&nbsp;Race</a></li>
            <li><a href="#step2"><i class="ra ra-muscle-up"></i>&nbsp;Abilities/Feats</a></li>
            <li><a href="#step3"><i class="ra ra-scroll-unfurled"></i>&nbsp;Background</a></li>
            <li><a href="#step4"><i class="ra ra-archer"></i>&nbsp;Class/Level</a></li>
            <li><a href="#step5"><i class="ra ra-fairy-wand"></i>&nbsp;Spells</a></li>
            <li><a href="#step6"><i class="ra ra-aware"></i>&nbsp;Proficiens</a></li>
            <li><a href="#step7"><i class="ra ra-forging"></i>&nbsp;Equipment</a></li>
        </ul>
        <div class="step-content">
            <div class="step-tab-panel" id="step1">
                {{> modules/actorforge/templates/race-tab.html}}
            </div>
            <div class="step-tab-panel" id="step2">
                {{> modules/actorforge/templates/abilities-tab.html}}
            </div>
            <div class="step-tab-panel" id="step3">
                {{> modules/actorforge/templates/background-tab.html}}
            </div>
            <div class="step-tab-panel" id="step4">
                {{> modules/actorforge/templates/class-tab.html}}
            </div>
            <div class="step-tab-panel" id="step5">
                Choice your spells...
            </div>
            <div class="step-tab-panel" id="step6">
                Select your proficiens...
            </div>
            <div class="step-tab-panel" id="step7">
                Select the equipment...
            </div>
        </div>
        <div class="step-footer">
            <button class="step-btn" data-direction="prev">Previous</button>
            <button class="step-btn" data-direction="next">Next</button>
            <button class="step-btn" data-direction="finish">Finish</button>
        </div>
    </div>
</div>