<div class="background-container">
    <h1 class="alignment-title">Alignment</h1>
    <div class="alignment-container">
        <div class="alignment-data">
            {{#each alignments}}
            <button class="alignment-toggle" data-alignment="{{this}}">{{this}}</button>
            {{/each}}
        </div>
        <div id="alignment-description" class="alignment-description"></div>
    </div>
    <h1 class="alignment-title">Background</h1>
</div>