{{#each selectedClasses}}
<div>
    <h1 class="class-title">{{name}}</h1>
    <div style="display: grid; grid-template-columns: 50% 50%; margin-bottom: 30px">
        <div class="class-data" style="height: 100px;">
            <span class="class-label">Level</span>
            <span class="class-value">
                <select id="{{name}}-class-level" class="class-level" data-class-level="{{name}}">
                {{#select selectedLevel}}
                {{#each levels}}
                    <option value="{{level}}">{{level}}</option>
                {{/each}}
                {{/select}}
                </select>
            </span>
            <span class="class-label">Hit Die</span><span class="class-value">D{{hitDie}}</span>
            <span class="class-label">Saving Throws</span>
            <span class="class-value">
                {{#each savingThrows}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
            </span>
            <span class="class-label">Proficiencies</span>
            <span class="class-value">
                {{#each proficiencies}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
            </span>
        </div>
        <div>
            <table>
                <tbody>
                <tr>
                    <th>Level</th>
                    <th>Base</th>
                    <th>Con</th>
                    <th>Misc</th>
                    <th>Tot</th>
                </tr>
                {{#each selectedLevels}}
                <tr>
                    <td class="{{#if_even @index}}even{{else}}odd{{/if_even}}">{{level}}</td>
                    <td class="{{#if_even @index}}even{{else}}odd{{/if_even}}">{{hitDie}}</td>
                    <td class="{{#if_even @index}}even{{else}}odd{{/if_even}}">{{con}}</td>
                    <td class="{{#if_even @index}}even{{else}}odd{{/if_even}}">0</td>
                    <td class="{{#if_even @index}}even{{else}}odd{{/if_even}}">{{total}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="5" style="text-align: right; font-weight: bold; padding-right: 13px;">Total Hit Dice: {{totalHitDice}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/each}}