<div class="class-button-container">
    {{#each classes}}
    <button id="{{name}}-class-selection-btn" class="class-toggle" data-class="{{name}}">{{name}}</button>
    {{/each}}
</div>
<div id="class-data" class="class-data-container"></div>