<div class="race-button-container">
    {{#each races}}
    <button class="race-toggle" style="margin-bottom: 5px;" data-race="{{name}}">{{name}}</button>
    {{/each}}
</div>
<div id="race-data" class="race-data-container" ></div>