<h1 class="race-title">{{name}}</h1>
<div class="race-data">
    <span class="race-label">Speed</span><span class="race-value">{{speed}} ft.</span>
    <span class="race-label">Ability Bonuses</span><span class="race-value">{{abilityBonusesDescription}}</span>
    <span class="race-label">Alignment</span><span class="race-value">{{alignment}}</span>
    <span class="race-label">Age</span><span class="race-value">{{age}}</span>
    <span class="race-label">Size</span><span class="race-value"><i>{{size}}</i>. {{sizeDescription}}</span>
    {{#if traits}}
        <span class="race-label">Traits</span>
        <span class="race-value">
            {{#each traits}}{{name}}{{#unless @last}},{{/unless}}{{/each}}
        </span>
    {{/if}}
    {{#if subraces}}
    <span class="race-label">Subrace</span>
    <span class="race-value">
        <select id="subrace" name="subrace">
            <option value="none">Select one...</option>
            {{#each subraces}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <span id="subrace-bonuses" style="margin-left: 10px;"></span>
    </span>
    {{/if}}
</div>